$primary-color: rgb(31, 163, 234);

%full-size{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

%flex-column {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  text-align: center;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}